/* src/components/Experiencia.module.css */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* La línea del medio, que en móvil estará a la izquierda */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: #374151;
  top: 0;
  bottom: 0;
  left: 31px; /* La movemos a la izquierda */
  margin-left: -3px;
}

.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 100%; /* Ocupa todo el ancho en móvil */
  padding-left: 70px; /* Hacemos espacio para la línea y los círculos */
  padding-right: 25px;
}

/* Anulamos los posicionamientos de left/right */
.left {
  left: 0;
}
.right {
  left: 0;
}

/* Círculos en el timeline */
.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  left: 15px; /* Los posicionamos sobre la línea */
  background-color: white;
  border: 4px solid #38bdf8;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Quitamos la flecha que apuntaba a la línea */
.right::after {
  left: 15px;
}

.content {
  padding: 20px 30px;
  background-color: var(--bubble-gray);
  position: relative;
  border-radius: 20px;
  transition: background-color 0.2s;
}

.content:hover {
    background-color: var(--bubble-blue);
}

/* --- Media Query para volver al diseño de dos columnas en PC --- */
@media (min-width: 768px) {
  .timeline::after {
    left: 50%;
  }

  .container {
    width: 50%;
  }

  .left {
    left: 0;
  }

  .right {
    left: 50%;
  }
  
  .container::after {
    right: -17px;
    left: auto; /* Reseteamos el left */
  }

  .right::after {
    left: -16px;
  }
}