/* src/components/Inicio.module.css */
.inicio {
  min-height: 70vh; /* Ocupa el 70% de la altura de la pantalla */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.titulo {
  font-size: 3rem; /* 48px */
  font-weight: 800; /* extra-bold */
  margin-bottom: 0.5rem;
}

.subtitulo {
  font-size: 1.25rem; /* 20px */
  color: var(--text-secondary); /* Un gris más claro */
}